whois-api/src/main/resources/rdap-docs/xsd/rdap/rdap-resources.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
           elementFormDefault="qualified"
           version="1.0">
    <xs:element name="rdap-resources">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="nameserver"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="nameserver">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="handle" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ldhName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="unicodeName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="status" type="stringList" minOccurs="0" maxOccurs="1"/>
                <xs:element name="ipAddresses"  minOccurs="0" maxOccurs="1">
				    <xs:complexType>
				        <xs:sequence>
				            <xs:element name="ipv4" type="stringList" maxOccurs="1" minOccurs="0"></xs:element>
				            <xs:element name="ipv6" type="stringList" maxOccurs="1" minOccurs="0"></xs:element>
				        </xs:sequence>
				    </xs:complexType>
                </xs:element>
                <xs:element name="remarks" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
				    	<xs:sequence>
				            <xs:element name="description" type="stringList" maxOccurs="1" minOccurs="1"></xs:element>
				    	</xs:sequence>
    				</xs:complexType>
				</xs:element>

                <xs:element name="links" minOccurs="0"	maxOccurs="unbounded" >
				   <xs:complexType>
				    	<xs:sequence>
				    		<xs:element name="value" type="xs:string" maxOccurs="1"
				    			minOccurs="0">
				    		</xs:element>
				    		<xs:element name="rel" type="xs:string" maxOccurs="1"
				    			minOccurs="0">
				    		</xs:element>
				    		<xs:element name="href" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
				    	</xs:sequence>
				    </xs:complexType>
                </xs:element>
                <xs:element name="port43" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="events" minOccurs="0" maxOccurs="unbounded" >
				       <xs:complexType >
				    	<xs:sequence>
				    		<xs:element name="eventAction" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
				    		<xs:element name="eventDate" type="xs:dateTime" maxOccurs="1" minOccurs="0"></xs:element>
				    		<xs:element name="eventActor" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
				    	</xs:sequence>
				    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="stringList">
        <xs:list itemType="xs:string"/>
    </xs:simpleType>

</xs:schema>
